{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'logo.webp' %}" class="rounded-circle mb-3" width="100" alt="Logo">
                <h2 class="m-2 mb-5">Connect-A-Ton</h2>
                <p>Looks like we don't have a team with your email address. Please log in with the email address you
                    used to register for the event.</p>
                <small>Contact the organizers if you think this is a mistake.</small>
                <a href="{% provider_login_url 'google' %}" class="btn btn-outline-dark btn-block mt-2">
                    <i class="fab fa-google"></i> Login with Google
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
